.box{

 width:300px;
 margin:auto;
 background:white;
 padding:20px;
 border-radius:10px;
 text-align:center;

}

.offer{

 background:orange;
 color:white;
 margin:5px;
 padding:5px;
 border-radius:5px;

}

input{

 padding:5px;
 margin-top:10px;

}

button{

 padding:5px;
 margin-top:5px;

}