body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:linear-gradient(135deg,#ff7a18,#ffb347);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
min-height: 100vh;
}


.login-container{

width:100%;
display:flex;
justify-content:center;
align-items:center;

}


.login-form{

background:white;
padding:30px;
width:320px;
border-radius:10px;
box-shadow:0 0 15px rgba(0,0,0,0.2);
text-align:center;

}


h1{

color:#ff5a00;
margin-bottom:15px;

}


.input{

width:100%;
padding:10px;
margin:8px 0;
border-radius:5px;
border:1px solid #ccc;
font-size:14px;

}


small{

color:red;
font-size:12px;

}


.row{

display:flex;
justify-content:space-between;
font-size:13px;
margin:10px 0;

}


.forgot{

color:#ff5a00;
cursor:pointer;

}


.btn{

width:100%;
padding:10px;
background:#ff5a00;
color:white;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
transition:0.3s;

}


.btn:hover{

background:#e14d00;

}


.bottom{

margin-top:10px;
font-size:14px;

}


.bottom span{

color:#ff5a00;
cursor:pointer;
font-weight:bold;

}