<div class="profile-box">

    <h2>User Profile</h2>

    <div class="row">
        <span>First Name</span>
        <p>{{user.firstname}}</p>
    </div>

    <div class="row">
        <span>Last Name</span>
        <p>{{user.lastname}}</p>
    </div>

    <div class="row">
        <span>Email</span>
        <p>{{user.email}}</p>
    </div>

    <div class="row">
        <span>Mobile</span>
        <p>{{user.mobile}}</p>
    </div>

    <div class="row">
        <span>Location</span>
        <p>{{user.location}}</p>
    </div>

    <button (click)="logout()">Logout</button>

</div>