*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{

background:url("https://i.pinimg.com/236x/8f/c0/8f/8fc08fd48cd8eda6dfca9ef25047c865.jpg");

background-size:cover;
background-position:center;

height:100vh;

display:flex;
justify-content:center;
align-items:center;

}


/* card */

.card{

width:420px;

padding:30px;

text-align:center;

border-radius:20px;

background:rgba(0,0,0,0.65);

backdrop-filter:blur(10px);

color:white;

box-shadow:0 10px 30px black;

animation:pop .5s ease;

}

@keyframes pop{

from{
transform:scale(.7);
opacity:0;
}

to{
transform:scale(1);
opacity:1;
}

}


/* tick */

.tick{

font-size:60px;

color:#4caf50;

animation:tick 0.5s ease;

}

@keyframes tick{

from{
transform:scale(0);
}

to{
transform:scale(1);
}

}


/* text */

.t1{

font-size:28px;
margin-top:10px;

}

.t2{

font-size:18px;
margin-top:10px;

}

.timer{

margin-top:10px;

color:#ffd54f;

font-weight:bold;

}


/* button */

button{

margin-top:20px;

padding:10px 20px;

border:none;

border-radius:8px;

font-size:16px;

cursor:pointer;

background:linear-gradient(45deg,#ff512f,#dd2476);

color:white;

transition:.3s;

}

button:hover{

transform:scale(1.1);

box-shadow:0 5px 15px black;

}